.contact-container {
}

.contact-layout {
  display: flex;
  min-width: 70vw;
}

.form-container {
  min-width: 30vw;
  display: flex;
  border: 2px var(--green) solid;
  border-radius: 10px;
  background-color: transparent;
  backdrop-filter: blur(4px);
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  min-width: 27vw;
  padding: 1rem 0px;
}

.text-input {
  background-color: transparent;
  color: var(--white);
  border: 1px transparent solid;
  border-bottom: 2px var(--green) solid;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  margin-bottom: 20px;
  column-count: auto;
  resize: none;
}

.text-input:focus {
  outline: 0 none;
  background-color: var(--light-black);
  border-bottom: 2px var(--white) solid;
}

.submit-button {
  background: transparent;
  border: 1px var(--green) solid;
  color: var(--green);
  font-size: large;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 10px;
  transition: 0.2s;
}

.submit-button:hover {
  cursor: pointer;
  background-color: var(--green);
  color: var(--black);
}
