.contact-container {

}

.contact-layout {
    display: flex;
    gap: 10vw;
}

.form-container {
    min-width: 30vw;
    display: flex;
    border: 2px var(--green) solid;
    box-shadow: 0px 0px 15px 1px var(--dark-black);
    border-radius: 1rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.form-space {
    min-width: 30vw;
}

.text-input {
    font-size: large;
    padding: 5px;
    background-color: transparent;
    color: var(--white);
    border-radius: 3px;
    border: 1px transparent solid;
    border-bottom: 1px var(--green) solid;
}

.text-input:focus {
    outline: 0 none;
    background-color: var(--light-black);
}