
.customButton { 
    color: var(--green);
    border-radius: 10px;
    border: 2px var(--green)solid;
    font-size: large;
    min-width: 3rem;
    min-height: 3rem;
    padding: 0rem 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.1s;
}

.customButton:hover {
    background: var(--green);
    border-color: transparent;
    color: var(--black);
    cursor: pointer;
}