
.App {
  display: flex;
  flex-direction: column;
}

a {
  color: var(--green);
  text-underline-offset: 3px;
}

.title {
    display: flex;
    flex-direction: column;
    min-width: 70vw;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
}

.description {
    min-width: 70vw;
    display: flex;
    justify-content: left;
    padding-bottom: 1.5rem;
}
.description-text {
    font-size: medium;
    max-width: 70vw;
}

.green-text {
    color:var(--green);
    font-weight: bold;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
